<!DOCTYPE html>
   <head>
      <title>GPIO Control</title>
      <! -- added little css and bootstrap-->
	<link rel="stylesheet" href="../static/style.css/">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   </head>
   <body>

		<h1> ⭐ Remote Light Switch Panel ⭐</h1>
		<h2> Status of lights </h2>

		<h3> 💡 is {{ led }}</h3>
		<br>
		<h2> Command Center </h2>
		<h3> 
			Light Ctrl ➡️
			<a href="/led/on" class="button">TURN ON</a>  
			<a href="/led/off"class="button">TURN OFF</a>
		</h3>

		
   </body>
</html>
